<launch>

    <!-- <arg name="map_file" value="$(find tempcheckbot)/maps/map.yaml" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->

    <!-- <node name="move_base" pkg="move_base" type="move_base" /> -->
    <node name="moveturtlebot" pkg="tempcheckbot" type="talker_node" /> 

    <include file="$(find tempcheckbot)/launch/tempcheckbot_gmapping.launch" />

</launch>